.vs
brain-app-server/obj
brain-app-server/bin
brain-app-server/brain-app/save

brain-app-server/Properties/
packages
brain-app-server/node_modules

/brain-app-server/brain-app/*.js.map
/brain-app-server/brain-app/*.js
