.vs
brain-app-server/obj
brain-app-server/bin
brain-app-server/brain-app/save

brain-app-server/Properties/
packages
brain-app-server/node_modules

/brain-app-server/brain-app/*.js.map
/brain-app-server/brain-app/*.js
/brain-app-server/package-lock.json
/brain-app-server/brain-app-server.csproj.user
/brain-app-server/obj/Release/brain-app-server.csproj.FileListAbsolute.txt
/brain-app-server/obj/Release/brain-app-server.dll
/brain-app-server/obj/Release/brain-app-server.pdb
/brain-app-server/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/brain-app-server/brain-app/state.js.map
