
html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  width: 960px;
}

#body {
  position: relative;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 8em;
}

header aside {
  margin-top: 82px;
}

header aside,
footer aside {
  color: #636363;
  text-align: right;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  width: 180px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

#body > p, li > p {
  line-height: 1.5em;
}

#body > p {
  width: 720px;
}

#body > blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

#body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before,
blockquote:before {
  content: "â";
}

q:after,
blockquote:after {
  content: "â";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

<<<<<<< Updated upstream
=======
.linkCircular {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
}
.rectLegend {
    font: 11px, Arial, sans-serif;
}
.textLegend {
    font: 25px, Arial, sans-serif;
}

.rect1Circular {
    fill: #d3d3d3;
}

.rect2Circular {
    fill: #d3d3d3;
}

.network-type-appended-element-0 {
    position: relative;
}

.network-type-appended-element-1 {
    position: relative;
}

.network-type-appended-element-2 {
    position: relative;
}

.network-type-appended-element-3 {
    position: relative;
}

.status-changed {
    background-color: #f1c40f;
}

.status-updated {
    background-color: #2ecc71;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.popup-modal{
    position: absolute;
    top:10px;
    left:50%;
    width: 200px;
    z-index: 1000;
}

.modal-backdrop{
    opacity: 0.2 !important;
}

#divAlerts {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 250px;
    z-index: 2000;
}

.alert {
    margin-bottom: 2px !important;
}





/* Bootstrap overrides */
.input-group {
    overflow: hidden !important;
}

.input-group button span {
    text-overflow: ellipsis !important;
    display: inline-block;
    white-space: nowrap;
}

.clip-to-bottom {
    top: auto !important;
    bottom: 0 !important;
}

input.select-network-type-input {
    width: 0 !important;
}

.tooltip-inner {
    white-space:pre-wrap;
    text-align: left;
}


/* General fixes */

text {
    user-select: none;
    -webkit-user-select: none;
}


/*
    File save dialog
*/
.ui-widget-content {
    background: #d9edf7;
}

.ui-widget-header {
    background: #c8dce6;
    color: #444;
}
#file-save-dialog input {
    font-size: 120%;
}

.ui-dialog-buttonset button {
    font-size: 120%;
    font-weight:bold;
    background-color : #eff5e5;
    border: 3px solid #aaa;
    border-radius: 5px;
}

.ui-visible-tooltip {
    background-color:#fafafa;
    border: 1px solid #999;
    border-radius: 5px;
    padding:5px;
    margin-bottom:10px;
}
>>>>>>> Stashed changes
